<h1><%= @user.username %> Profile Page </h1>
<hr>
<br>
<p>There is no sport like</p>
<h2><%= @user.fav_sport %>.</h2>
<p>I am a die hard </p>
<h2><%= @user.fav_team %> fan</h2>
<p>and the greatest player ever is</p>
<h2><%= @user.fav_player %>!</h2>
